@import url("CSS/reset.css");
@import url("CSS/typography.css");
@import url("CSS/variables.css");
@import url("CSS/modals.css");
@import url("CSS/buttons.css");

/* Estilos gerais */
body {
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container externo */
.outer-container {
    background-color: var(--color-secundary);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 800px; 
    max-height: 90%;
    border-radius: 10px;
    overflow: hidden;
    /*blur body*/
    -webkit-filter: blur(0px);
    filter: blur(0px); 
}

/* Container principal */
.container {
    max-width: 100%; 
    margin: 0 auto;
    text-align: center;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



/* Estilos para inputs e botão */
input[type="text"],
input[type="date"],
button {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: whitesmoke;
    color: black;
    border: none;
    outline: none;
}

input[type="text"],
input[type="date"]{
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: whitesmoke;
    border: none; 
    outline: none; 
}
input[type="text"] {
    width: 80%; 
}

#taskList {
    padding-top: 10px;
    text-align: left;
    scrollbar-width: auto; 
    scrollbar-color: gray transparent; 
    max-height: 250px;
    overflow-y: auto;
    padding-right: 20px; 
}

/* Estilos para itens da lista de tarefas */
#taskList > div {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #443847;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    text-align: justify;
    padding-right: 8px;
    height: auto;
    flex-direction: row; 
}

/* Estilos para scroll (para navegadores específicos) */
#taskList::-webkit-scrollbar {
    width: 10px;
}

#taskList::-webkit-scrollbar-track {
    background: #443847;
}

/* Estilo para checkboxes */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 16px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 3px;
    outline: none;
    position: relative;
    transition: background-color 0.5s, border-color 0.5s;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilo para checkbox quando marcado */
input[type="checkbox"]:checked {
    background-color: var(--color-btn-positive-hover);
    border-color: var(--color-btn-positive-hover);
    text-decoration: line-through;
}

#taskList {
    max-width: 100%; 
}

/* Estilo para label do checkbox */
label {
    display: flex;
    align-items: center;
    color: var(--color-text);
    text-wrap: balance;
    max-width: 100%;
}

/* Estilos para itens da lista de tarefas */
.task-displayer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Esconde visualmente o checkbox padrão */
input[type="checkbox"]::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 2px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Estilo para o indicador do checkbox quando marcado */
input[type="checkbox"]:checked::before {
    background-color: white;
    transform: rotate(45deg);
    top: 3px;
    left: 4px;
    right: 4px;
    bottom: 6px;
    border-radius: 0;
    height: 5px;
}

/* Estilo para texto de tarefas concluídas */
.task-done {
    text-decoration: line-through;
    color: #a0a0a0;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.custom-select{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    border: none; 
    outline: none;
}

#filter {
    display: flex;
    align-items: center;
}

#dropdown-filter{
    display: flex;
    justify-content: left;
    background-color: transparent;
    border: none;
    color: white;
}